.git
.gitignore
.vscode
__pycache__/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.coverage
**/.tox/
**/.venv/
**/dist/
**/build/
**/*.egg-info/
**/docs/html/
**/docs/xml/
**/docs/_build/
